
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#hrline{
    height: 3px;
    width: 80px;
    margin: auto;
}

#hrline2{
    height: 4px;
    background-color: #fff;
}
 

.fa-brands{
    color: #fff;
}

.topBtn{
  
    color: #fff;
    background-color: black;
    border-radius: 50%;
    position: fixed;
    bottom: 5rem;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  
  