
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

#hrline{
    height: 3px;
    width: 80px;
    margin: auto;
}

#hrline2{
    height: 4px;
    background-color: #fff;
}
 

.fa-brands{
    color: #fff;
}

.topBtn{
  
    color: #fff;
    background-color: black;
    border-radius: 50%;
    position: fixed;
    bottom: 5rem;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }


  #scroll{
    overflow-x: scroll;
    overflow: hidden; 
    
  }

  #container{
    border: 1px solid black;
    height: 570px;
    overflow: hidden;
    overflow-y: scroll;

  }


